<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    
    <h1>Lista de enlaces</h1>
    <p>Examen Django - Antonio Mateos Delgado</p>
    <hr>
    <br>

    <ul>
        <li><a href="{% url 'dame_videojuego_sede' tituloVideojuego='Fantasy' paisVideojuego='Unidos' %}">Enlace URL 1</a></li>
        <li><a href="{% url 'dame_videojuego_plataforma' nombreFabricante='Sony' nombrePlataforma='Play Station' numeroPuntuacion=75 %}">Enlace URL 2</a></li>
        <li><a href="{% url 'dame_videojuego_videojuegoPlataforma_null' %}">Enlace URL 3</a></li>
    </ul>

</body>
</html>